<html>
  <head>
    <title>Abiquo workflow acceptance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
  </head>
  <body bgcolor="#E6E6FA" style="margin: 0;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #333;background-color: #fff">
<p style="margin: 0 0 10px"/><div class="container well well-large" style="padding: 19px 19px;width: 940px;margin-right: auto;margin-left: auto;min-height: 20px;margin-bottom: 20px;background-color: #f5f5f5;border: 1px solid #e3e3e3;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)">
<p class="text-center" style="margin: 0 0 10px;text-align: center"/><h1 style="margin: 10px 0;font-family: inherit;font-weight: bold;line-height: 20px;color: inherit;text-rendering: optimizelegibility;font-size: 38.5px">Abiquo Task</h1>
<p style="margin: 0 0 10px"><span>A new task has been submitted by user <span class="label label-info" style="display: inline-block;padding: 2px 4px;font-size: 11.844px;font-weight: bold;line-height: 14px;color: #fff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);white-space: nowrap;vertical-align: baseline;background-color: #3a87ad;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px">$userStr</span> requesting to <span class="label label-warning" style="display: inline-block;padding: 2px 4px;font-size: 11.844px;font-weight: bold;line-height: 14px;color: #fff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);white-space: nowrap;vertical-align: baseline;background-color: #f89406;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px">$taskType</span> on<br>
<span class="label label-warning" style="display: inline-block;padding: 2px 4px;font-size: 11.844px;font-weight: bold;line-height: 14px;color: #fff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);white-space: nowrap;vertical-align: baseline;background-color: #00CC00;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px">Enterprise $enterprise &gt; VDC $vdc (in datacenter $dc) &gt; vApp $vapp</span><br><br> 
The request consists on:</span></p>

          <p style="margin: 0 0 10px"></p>
          <div class="bs-docs-example">
            <table class="table table-condensed" style="max-width: 100%;background-color: transparent;border-collapse: collapse;border-spacing: 0;width: 100%;margin-bottom: 20px"><thead><tr><th style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: bottom;border-top: 0;font-weight: bold">VM Name</th>
                  <th style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: bottom;border-top: 0;font-weight: bold">CPU</th>
                  <th style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: bottom;border-top: 0;font-weight: bold">RAM</th>
                  <th style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: bottom;border-top: 0;font-weight: bold">HD</th>
                  <th style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: bottom;border-top: 0;font-weight: bold">Action</th>
                </tr></thead><tbody>
				$vmRows
				</tbody></table></div>

<p style="margin: 0 0 10px"><span>Alternatively, you can bulk accept or deny all requests listed above using the buttons below.</span></p>

      <a href="$accept_all_lnk"
style="background-color:#0dbf22;border-radius:12px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:30px;text-align:center;text-decoration:none;width:100px;-webkit-text-size-adjust:none;">Accept all</a>
      <a href="$cancel_all_lnk"
style="background-color:#bf0f32;border-radius:12px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:30px;text-align:center;text-decoration:none;width:100px;-webkit-text-size-adjust:none;">Cancel all</a>


    <script src="http://code.jquery.com/jquery.js"/><script src="http://twitter.github.io/bootstrap/assets/js/bootstrap.min.js"/></div>
  </body>
</html>

